{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}MonkeyBook{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Our monkeys</h1>
        <h5>Sort by
            <a href="{{ url_for('.view_profiles') }}" class="navbar-link"> name</a> or by
            <a href="{{ url_for('.view_profiles_by_name_of_the_best_friend') }}" class="navbar-link"> best friend's name</a> or by
            <a href="{{ url_for('.view_profiles_by_number_of_friends') }}" class="navbar-link"> number of friends</a>
        </h5>
    </div>
    <ul class="view_profiles">
        {% for profile in profiles %}
            <li class="profile">
                <table class="profile-data">
                    <tr>
                        <td class="first-column">
                            <img class="img-rounded profile-thumbnail" src="{{ profile.gravatar(size=40) }}"/>
                            <span class="profile-name"> {{ profile.monkeyname }}</span>
                        </td>
                        <td class="second-column">Monkey has <b>{{profile.followed.count() }}</b> monkey friends</td>
                        <td class="third-column">
                            {% if profile != current_user %}
                                {% if not current_user.is_following(profile) %}
                                    <a href="{{ url_for('.follow', monkeyname=profile.monkeyname) }}" class="btn btn-primary">Friend</a>
                                {% else %}
                                    <a href="{{ url_for('.unfollow', monkeyname=profile.monkeyname) }}" class="btn btn-default">No more friend</a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="first-column">Age: {{ profile.age }}</td>
                        <td class="second-column">Monkey is a friend for <b>{{ profile.followers.count()}}</b>
                            {% if profile.best_friend_followers.count()>0 %}
                            and best friend for <b>{{ profile.best_friend_followers.count()}}</b>
                            {% endif %}
                            monkey(s)</td>
                        <td class="third-column">
                            {% if profile != current_user %}
                                {% if not current_user.bf_is_following(profile) %}
                                    <a href="{{ url_for('.bf_follow', monkeyname=profile.monkeyname) }}" class="btn btn-success">Best friend</a>
                                {% else %}
                                    <a href="{{ url_for('.bf_unfollow', monkeyname=profile.monkeyname) }}" class="btn btn-warning">No more best friend</a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="first-column">E-mail: {{ profile.email }}</td>
                        {% if profile.best_friend_followed.first() %}
                            <td class="second-column"> Best friend - <b>{{ profile.best_friend_followed.first().best_friend_name }}</b></td>
                        {% else %}
                            <td class="second-column"> No best friend</td>
                        {% endif %}
                        <td class="third-column">
                            {% if current_user.is_administrator() %}
                                {% if profile.is_administrator()==False %}
                                <a href="{{ url_for('.remove_monkey', id=profile.id) }}">
                                    <span class="label label-danger">Remove monkey</span>
                                </a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </li>
        {% endfor %}
    </ul>

    {% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.view_profiles') }}
    </div>
    {% endif %}
{% endblock %}